<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nikolay.taskManager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/taskmanager_task_1914"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/taskmanager_task_1914"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">

        <activity android:name="com.nikolay.taskManager.Activities.AddEditTaskActivity"/>
        <activity android:name="com.nikolay.taskManager.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AddTasks"/>
        <service android:name=".Service.JobService"
                 android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>

</manifest>